.ico-title {
  font-size: 2em;
}
.iconlist {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.iconlist li {
  position: relative;
  margin: 15px;
  width: 150px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .iconlist li {
    margin: 5px;
    width: 45%;
  }
}

.iconlist li .icon-holder {
  position: relative;
  text-align: center;
  border-radius: 13px;
  overflow: hidden;
  padding-bottom: 10px;
  background: #ffffff;

}
.iconlist li .icon-holder:hover {
  background: #2E7644;
  color: #ffffff;
}
.iconlist li .icon-holder:hover .icon i {
  color: #ffffff;
}
.iconlist li .icon-holder .icon {
  padding: 20px;
  text-align: center;
}
.iconlist li .icon-holder .icon i {
  font-size: 3em;
  color: #6EAC7D;
}
.iconlist li .icon-holder span {
  font-size: 14px;
  display: block;
  margin-top: 5px;
  border-radius: 3px;
}

/* The Modal (background) */
.twi-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto; */
  /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

@media (max-width: 576px) {
  .twi-modal {
    padding-top: 100px;
  }
}

/* Modal Content */
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: auto;
  padding: 20px;

  width: 556px;
  height: 280px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 20px;
}

@media (max-width: 576px) {
  .modal-content {
    width: 280px;
    height: 380px;

    padding: 0;
  }
}

.modal-container {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

/* modal icon*/
.modal-icon {
  float: left;
  margin-right: 32px;

  width: 200px;
  height: 200px;
}

@media (max-width: 576px) {
  .modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
  }
  .modal-icon {
    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 200px;
  }
}

.modal-icon-holder {
  /* horizontally & vertically center */
  position: relative;

  border-radius: 13px;
  background: #D9F2E7;
  height: inherit;
}

.modal-icon-holder i {
  /* horizontally & vertically center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 8em;
  color: #6EAC7D;
}

.modal-right {
  float: right;
  width: 224px;
  height: 200px;
}

@media (max-width: 576px) {
  .modal-right {
    float: none;
    width: 200px;
    height: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
  } 
}

.modal-title {
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  align-items: flex-start;
  height: 86px;
}

.modal-title-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.modal-title-holder p {
  margin: auto; /* important */

  text-align: center;
  color: #6EAC7D;
  font-size: 28px;
}

.modal-respectively-download {
  margin-top: 19px;
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  align-items: center;

  height: 40px;
}

.modal-download-unicode-glyph {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 5px;
  padding-right: 5px;

  border-radius: 20px;
  background: #D9F2E7;
  color: #4A4A4A;

  width: 62px;
  height: inherit;

  cursor: pointer;

  font-size: 30px;
}

.modal-download-unicode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: 26px;
  padding-left: 12px;
  padding-right: 12px;

  border-radius: 20px;
  background: #D9F2E7;

  height: inherit;

  cursor: pointer;
}

.modal-download-unicode p {
  margin: auto;
  font-size: 16px;
  color: #4A4A4A;
}

.modal-download {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-left: 36px;
  width: 40px;
  height: inherit;
  
  background: #FFFFFF;
  border: 0.8px solid #6EAC7D;
  border-radius: 50%;

  cursor: pointer;
}

.modal-download-iframe {
  margin-top: 15px;
  height: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  background: #D9F2E7;

  cursor: pointer;
}

.modal-download-iframe p {
  margin: auto;
  font-size: 12px;
  color: #4A4A4A;
}

.modal-description {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .modal-description {
    display: none;
  }
}

.modal-description p {
  font-size: 10px;
  color: #2E7644;
  line-height: 14px;
}

.modal-address {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: 576px) {
  .modal-address {
    display: none;
  }
}

.modal-address p {
  font-size: 10px;
  color: #2E7644;
  line-height: 14px;
}

@media (max-width: 576px) {
  .modal-download {
    display: none;
  }
  .modal-respectively-download {
    display: none;
  }
  .modal-download-unicode-glyph {
    display: none;
  }
  .modal-download-unicode {
    display: none;
  }
  .modal-download-iframe {
    display: none;
  }
  .modal-description {
    display: none;
  }
  .modal-address {
    display: none;
  }
}
